@using S3Train.Model.User
@using X.PagedList.Mvc.Common
@using X.PagedList.Mvc
@model X.PagedList.IPagedList<UserViewModel>
@{
    ViewBag.Title = "IndexAsync";
    Layout = "~/Views/Shared/_LayoutAdminPage.cshtml";
}

<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Tài Khoản Người Dùng</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="@Url.Action("DanhSach","NguoiDung")">Nguoi-Dung</a></li>
        <li class="breadcrumb-item active" aria-current="page">Danh-Sach</li>
    </ol>
</div>

<div class="card">
    <div class="card-body">
        <a href="@Url.Action("CreateOrUpdate","User")" class="btn btn-info m-2">
            <i class="fas fa-plus"></i> Tạo Mới
        </a>

        <table class="table table-responsive-lg">
            <thead>
                <tr>
                    <th>Ảnh</th>
                    <th>Tên Tài Khoản</th>
                    <th>Tên Người Dùng</th>
                    <th>Email</th>
                    <th>SĐT</th>
                    @*<th>Trạng Thái</th>*@
                    <th>Hoạt Động</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td><img class="img-profile rounded" src="~/Content/Avatar/@item.Avatar" style="max-width:50px" title="Hình đại diện" /></td>
                        <td>
                            @item.UserName
                        </td>
                        <td>@Html.DisplayFor(m => item.FullName)</td>
                        <td>@Html.DisplayFor(m => item.Email)</td>
                        <td>@Html.DisplayFor(m => item.PhoneNumber)</td>
                        @*<td>@Html.Partial("~/Views/Shared/_PartialTrangThai.cshtml", item.Active)</td>*@
                        <td>
                            @Html.Partial("~/Views/Shared/_PartialChangeRole.cshtml", item)
                        </td>
                    </tr>
                }
                <tr class="pageging">
                    <td colspan="8">
                        @Html.PagedListPager(Model, pageIndex => Url.Action("IndexAsync", new RouteValueDictionary {
                         { "pageIndex" , pageIndex },
                         { "pageSize", Model.PageSize > 0 ? Model.PageSize : GlobalConfigs.DEFAULT_PAGESIZE } ,
                     }), new PagedListRenderOptions
                             {
                         LiElementClasses = new string[] { "page-item" },
                         PageClasses = new string[] { "page-link" },
                         DisplayLinkToFirstPage = PagedListDisplayMode.Always,
                         DisplayLinkToLastPage = PagedListDisplayMode.Always,
                         MaximumPageNumbersToDisplay = 5,
                         EllipsesElementClass = "page-link",
                     })
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

@section scripts{
    <script>
        $(function () {
            var successMessage = '@TempData["AlertMessage"]'
            if (successMessage != '')
                alertify.success(successMessage);
        });
    </script>
}