@using S3Train.WebHeThong.Models
@using S3Train.Domain
@model MuonTraViewModel
@{
    ViewBag.Title = "CreateOrUpdate";
    Layout = "~/Views/Shared/_LayoutAdminPage.cshtml";
    string title = string.IsNullOrEmpty(Model.Id) ? "Tạo Mới" : "Cập Nhật";
}
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">@title Phiếu Mượn</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="@Url.Action("Index","Muon")">Muon</a></li>
        <li class="breadcrumb-item active" aria-current="page">Tao-Moi</li>
    </ol>
</div><div class="card">
    <div class="card-body" id="myForm">
        @Html.AntiForgeryToken()
        <div class="form-group row">
            <div class="col-md-6">
                <label>@Html.DisplayNameFor(item => Model.UserId)</label>
                @Html.EditorFor(model => Model.UserId, new { htmlAttributes = new { @class = "form-control", @placeholder = "Tên tài khoản người mượn" } })
                @Html.ValidationMessageFor(model => Model.UserId, "", new { @class = "text-danger" })
                <input type="hidden" id="UserId">
            </div>

            <div class="col-md-6">
                <label>@Html.DisplayNameFor(item => Model.NgayTra)</label>
                @Html.EditorFor(model => model.NgayTra, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NgayTra, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-12">
                <label>@Html.DisplayNameFor(item => Model.ThuMuon)</label>
                @Html.EditorFor(model => Model.ThuMuon, new { htmlAttributes = new { @class = "form-control", @placeholder = "Tên văn bản" } })
                @Html.ValidationMessageFor(model => Model.ThuMuon, "", new { @class = "text-danger" })
            </div>
        </div>
        <button style="display:none" data-pro-id="" class="btn btn-danger" id="delete" onclick="return confirm(" Bạn Có Chắc Muốn Xóa Phiếu Mượn Này?");" title="Xóa"><i class="fas fa-trash"></i></button>
        <div class="form-group">
            <input id="b" type="submit" value="Lưu" class="btn btn-success" />
        </div>
        <table class="table table-responsive-lg" id="table" style="display:none">
            <tr>
                <th width="300">Tên</th>
                <th width="200">Vị Trí Lưu Trữ</th>
                <th width="150">Tình Trạng</th>
                <th width="150">Hoạt Động</th>
            </tr>
            <tbody></tbody>
        </table>
    </div>
</div>

@section scripts{
    <div>
        <script>
        $(function () {
            var successMessage = '@TempData["AlertMessage"]'
            if (successMessage != '')
                alertify.success(successMessage);
        });

            

        $(document).ready(function () {

            var arrayMuon = [];
            var pval = "";
            var url = $("#RedirectTo").val();

            $("#ThuMuon").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: "/Muon/AutoCompleteText",
                        data: "{ 'pre':'" + request.term + "'}",
                        dataType: "json",
                        type: "POST",
                        contentType: "application/json; charset=utf-8",
                        success: function (data) {
                            response($.map(data, function (item) {
                                return {
                                    Text: item.Text,
                                    Id: item.Id,
                                    TinhTrang: item.TinhTrang,
                                    ViTri: item.ViTri,
                                    json: item
                                }
                            }))
                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {
                            alert(textStatus);
                        }
                    });
                },
                select: function (event, ui) {
                    var inputText = ui.item.Text;
                    var markup = "<tr>";
                    markup += '<td class="name"> ' + inputText + "</td>" + "<td> " + ui.item.ViTri + "</td>" + "<td>" + SetTinhTrangHTML(ui.item.TinhTrang) + "</td>";
                    markup += '<td> <button class="btn btn-danger delete"  value = "ui.item.Text"  onclick="return confirm("Bạn Có Chắc Muốn Xóa Phiếu Mượn Này?");" title="Xóa"><i class="fas fa-trash"></i></button>';
                    markup += '</tr>';
                    $("table").append(markup);
                    $("#table").show();

                    if (inputText.length > 1) {
                        arrayMuon.push(inputText);
                        var pval = "";
                        for (i = 0; i < arrayMuon.length; i++) {
                            pval = pval + arrayMuon[i] + "<br/>";
                        }
                    }
                    $("#ThuMuon").val("");

                    return false;
                },
            }).data("ui-autocomplete")._renderItem = function (ul, item) {
                var str = '<div class = "row">';
                str += '<div class="col-8">' + item.Text + "</div>" + '<div class="col-3">' + SetTinhTrangHTML(item.TinhTrang) + "</div>";

                str += '</div>';

                return $("<div>")
                    .append(str)
                    .appendTo(ul);
                };

            $("#UserId").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: "/Muon/AutoCompleteTextUser",
                        data: "{ 'user':'" + request.term + "'}",
                        dataType: "json",
                        type: "POST",
                        contentType: "application/json; charset=utf-8",
                        success: function (data) {
                            response($.map(data, function (item) {
                                return {
                                    Text: item.Text,
                                    Id: item.Id,
                                    SoLuongMuon: item.SoLuongMuon,
                                    UserName: item.UserName,
                                    json: item
                                }
                            }))
                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {
                            alert(textStatus);
                        }
                    });
                },
                select: function (event, ui) {
                    $("#UserId").val(ui.item.UserName);
                    if (ui.item.SoLuongMuon >= 3) {
                        alert("Đã mượn tối đa 3 TLVB, vui lòng trả rồi mượn tiếp!");
                        window.location.href = "http://hethongluutru.somee.com/Muon/Index?tinhTrang=%C4%90ang%20M%C6%B0%E1%BB%A3n";
                    }

                    return false;
                },
            }).data("ui-autocomplete")._renderItem = function (ul, item) {
                var str = '<table style="width:100%;">';
                str += '<tr>';
                str += '<th width="250">Tên</th>'
                str += '<th width="200">UserName</th>'
                str += '<th >SL Đang Mượn</th>'
                str += '</tr>';
                str += '<tbody>';
                str += '<tr>';
                str += "<td>" + item.Text + "</td>" + "<td>" + item.UserName + "</td>" + "<td>" + item.SoLuongMuon + "</td>"
                str += '</tr>';
                str += '</tbody>';
                str += '</table>';

                return $("<table>")
                    .append(str)
                    .appendTo(ul);
                };

            $('input').blur(function (e) {
                var userId = $('#UserId').val();
                var today = new Date();
                var day = today.getDate();
                var month = (today.getMonth() + 1);
                var year = today.getFullYear();
                var a = [];
                $.ajax({
                    type: 'GET',
                    url: "/Muon/KiemTraHanTra",
                    data: {
                        user: userId
                    },
                    success: function (data) {
                        for (i = 0; i < data.d.length; i++) {
                            var dt = new Date(parseInt(data.d[i].NgayTra.replace('/Date(', '')))
                            var dtFinal = AddLeadingZeros(dt.getFullYear(), 4) + '/' +
                                AddLeadingZeros(dt.getMonth() + 1, 2) + '/' +
                                AddLeadingZeros(dt.getDate(), 2)
                            var d = AddLeadingZeros(dt.getDate(), 2);
                            var m = AddLeadingZeros(dt.getMonth() + 1, 2);
                            var y = AddLeadingZeros(dt.getFullYear(), 4);
                            var da = d.replace(/^0+/, '');
                            var mo = m.replace(/^0+/, '');
                            if ((da <= day && mo <= month && y <= year) || (da >= day && mo < month && y <= year) || y < year) {
                                alert("Bạn chưa trả TL/VB theo hạn trả, vui lòng trả rồi mượn tiếp");
                                window.location.href = "http://hethongluutru.somee.com/Muon/Index?tinhTrang=%C4%90ang%20M%C6%B0%E1%BB%A3n";
                            }

                        }
                    },
                });
            });

            $(document).on("click", '.delete', function () {
                var arrayText = [];
                var _tr = $(this).closest('tr');
                var text = $(_tr).find('.name').text();
                var name = text.trim();
                var a = jQuery.extend(true, [], arrayText);
                var b = jQuery.extend(true, [], arrayMuon);
                for (i = 0; i < b.length; i++) {
                    if (name == arrayMuon[i])
                        arrayMuon.splice(i, 1);
                }
                $(this).parent().parent('tr').remove();

            });

            $("#b").click(function () {
                var token = $('input[name="__RequestVerificationToken"]').val();
                var user = $('#UserId').val();
                var ngayKT = $('#NgayTra').val();
                if (arrayMuon.length > 3)
                    alert("Bạn chỉ mượn tối đa được 3 TL/VB");
                else {
                    $.ajax({
                        type: "POST",
                        url: '/Muon/CreateOrUpdate',
                        data: {
                            userId: user,
                            array: arrayMuon,
                            ngayTra: ngayKT,
                            __RequestVerificationToken: token
                        },
                        success: function (data) {
                            window.location.href = "http://hethongluutru.somee.com/Muon/Index?tinhTrang=%C4%90ang%20M%C6%B0%E1%BB%A3n";
                            TempData["AlertMessage"] = "Tạo Mới Thành Công";
                        }

                    });
                }

            });
        });

            
        function AddLeadingZeros(number, size) {
            var s = "0000" + number;
            return s.substr(s.length - size);
        }


        function SetTinhTrangHTML(tinhTrang) {
            if (tinhTrang == 1)
                return "<span class='badge badge-primary'>Trong Kho</span>";
            if (tinhTrang == 2)
                return "<span class='badge badge-warning'>Đang Mượn</span>";
            if (tinhTrang == 3)
                return "<span class='badge badge-secondary'>Đã Trả</span>";
            if (tinhTrang ==  4)
                return "<span class='badge badge-success'>Đã Gởi</span>";
        }
  
        </script>
    </div>
}

