@using S3Train.WebHeThong.Models
@model IList<ChiTietMuonTraViewModel>

@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_LayoutAdminPage.cshtml";
    int stt = 1;
}

<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Thông Tin Chi Tiết Phiếu Mượn</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="@Url.Action("Index","Muon")">Muon</a></li>
        <li class="breadcrumb-item active" aria-current="page">Detail</li>
    </ol>
</div>

<div class="row">
    <div class="col-lg-9">
        @using (Html.BeginForm("Create", "Tra", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            <div class="card mb-4">
                @for (int i = 0; i < Model.Count(); i++)
                {

                    <div class="card-body b">
                        <div class="row">
                            @if (Model[i].TrangThai == true)
                            {
                                <div class="col-lg-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Người mượn</h6>
                                    @if (Model[i].MuonTra.User.Id == Model[i].MuonTra.UserId)
                                    {
                                        @Html.HiddenFor(item => Model[i].MuonTra.UserId)
                                        <p>@Html.DisplayFor(item => Model[i].MuonTra.User.FullName)</p>

                                    }

                                </div>

                                <div class="col-lg-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Văn Thư</h6>
                                    @Html.HiddenFor(item => Model[i].MuonTra.VanThu)
                                    <p>@Html.DisplayFor(item => Model[i].MuonTra.VanThu)</p>
                                </div>
                                <div class="col-lg-2">
                                    <h6 class="m-0 font-weight-bold text-primary" id="NgayMuon">Ngày Mượn</h6>
                                    @Html.HiddenFor(item => Model[i].MuonTra.NgayMuon)
                                    <p>@Html.DisplayFor(item => Model[i].MuonTra.NgayMuon)</p>
                                </div>

                                <div class="col-lg-2">
                                    <h6 class="m-0 font-weight-bold text-primary">Hạn Trả</h6>
                                    <p>@Html.DisplayFor(item => Model[i].MuonTra.NgayKetThuc)</p>
                                </div>

                                <div class="col-lg-2">
                                    <h6 class="m-0 font-weight-bold text-primary">Chọn Trả</h6>
                                    @Html.HiddenFor(item => Model[i].Id)
                                    @Html.HiddenFor(item => Model[i].MuonTraId)
                                    @Html.HiddenFor(item => Model[i].MuonTra.Id)
                                    @Html.EditorFor(item => Model[i].Checkbox, new { htmlAttributes = new { @class = "check", @id = Model[i].Id } })


                                </div>
                            }

                        </div>

                        <div class="row">
                            <div class="col-lg-6">
                                <h6 class="m-0 font-weight-bold text-primary">Tl/VB mượn</h6>
                                @if (Model[i].TaiLieuVanBanId == Model[i].TaiLieuVanBan.Id)
                                {
                                    @Html.HiddenFor(item => Model[i].TaiLieuVanBanId)
                                    <p>@Html.DisplayFor(item => Model[i].TaiLieuVanBan.Ten)</p>

                                }
                            </div>
                            @if (Model[i].TrangThai == true)
                            {
                                <div class="col-lg-6">
                                    <h6 class="m-0 font-weight-bold text-primary">Vị Trí Lưu Trữ</h6>
                                    <p>@Html.DisplayFor(item => Model[i].ViTri)</p>
                                </div>
                            }
                            else
                            {
                                <div class="col-lg-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Trình Trạng</h6>
                                    <p>Đã Trả</p>

                                </div>
                            }
                        </div>

                    </div>
                }
                <div class="col-lg-3">
                    <div class="form-group">
                        <input id="tra" type="submit" value="Trả TL/VB" class="btn btn-success" />
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="col-lg-3">
        <div class="row">
            <div class="col">
                <div class="card h-100">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col">
                                <div class="text-xs font-weight-bold text-uppercase mb-1">Trạng Thái</div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">@Html.Partial("~/Views/Shared/_PartialTrangThai.cshtml", Model.First().MuonTra.TrangThai)</div>
                                <div class="mt-2 mb-0 text-muted text-xs">
                                    <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 3.48%</span>
                                    <span>Since last month</span>
                                </div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-calendar fa-2x text-primary"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col">
                <div class="card h-100">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col">
                                <div class="text-xs font-weight-bold text-uppercase mb-1">Tình Trạng</div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">@Html.Partial("~/Views/Shared/_PartialTinhTrangLuuTru.cshtml", Model.First().MuonTra.TinhTrang)</div>
                                <div class="mt-2 mb-0 text-muted text-xs">
                                    <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 3.48%</span>
                                    <span>Since last month</span>
                                </div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-calendar fa-2x text-primary"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @{
        if (Model.Count() >= 1)
        {
            <div class="col-lg-12">
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="m-0 font-weight-bold text-primary">Danh Sách Chi Tiết Mượn Trả</h5>
                        <br />
                        <table class="table table-responsive-md">
                            <thead>
                                <tr>
                                    <th>STT</th>
                                    <th>TL/VB</th>
                                    <th>Trạng Thái</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@stt</td>
                                        <td>@Html.DisplayFor(m => item.TaiLieuVanBan.Ten)</td>
                                        <td>@Html.Partial("~/Views/Shared/_PartialTrangThai.cshtml", item.TrangThai)</td>

                                    </tr>

                                    stt += 1;
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        }
    }

</div>
@section  scripts{
    <script>
        $(function () {
            var successMessage = '@TempData["AlertMessage"]'
            if (successMessage != '')
                alertify.success(successMessage);
        });
    </script>
}


