@using S3Train.Core.Constant
@using X.PagedList.Mvc.Common
@using X.PagedList.Mvc
@model S3Train.WebHeThong.Models.MuonTraIndexViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdminPage.cshtml";
    int stt = 1;
}
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Mượn</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="@Url.Action("Index","Muon")">Muon</a></li>
        <li class="breadcrumb-item active" aria-current="page">Index</li>
    </ol>
</div>
<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-md-6">
                <a href="@Url.Action("CreateOrUpdate","Muon", new { dang = ViewBag.Dang})" class="btn btn-info m-2 btn">
                    <i class="fas fa-plus"></i> Tạo Mới
                </a>
            </div>
            <div class="col-md-6">
                @Html.Partial("~/Views/Shared/_PartialSearch.cshtml")
                <i><span>Tìm kiếm: theo đơn vị/người mượn hoặc tên văn thư</span></i>
            </div>
        </div>
        <table class="table table-responsive-lg">
            <thead>
                <tr>
                    <th>STT</th>
                    <th>Người Mượn</th>
                    <th>Tài Khoản</th>
                    <th>Số Lượng</th>
                    <th>Ngày Mượn</th>
                    <th>Hạn Trả</th>
                    <th>Trạng Thái</th>
                    <th>Hoạt Động</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Items)
                {
                    <tr>
                        <td>@stt</td>
                        <td>@Html.DisplayFor(m => item.User.FullName)</td>
                        <td>@Html.DisplayFor(m => item.User.UserName)</td>
                        <td>@Html.DisplayFor(m => item.SoLuong) văn bản</td>
                        <td>@Html.DisplayFor(m => item.NgayMuon)</td>
                        <td>@Html.DisplayFor(m => item.NgayTra)</td>
                        <td>@Html.Partial("~/Views/Shared/_PartialTrangThai.cshtml", item.TrangThai)</td>
                        <td>
                            <a href="@Url.Action("Detail","Muon", new { id=item.Id})" class="btn btn-info" title="Thông Tin Chi Tiết">
                                <i class="fas fa-info"></i>
                            </a>
                        </td>
                    </tr>
                    stt += 1;
                }
                <tr class="pageging">
                    <td colspan="8">
                        @Html.PagedListPager(Model.Paged, pageIndex => Url.Action("Index", new RouteValueDictionary {
                        { "pageIndex" , pageIndex },
                        { "pageSize", Model.PageSize > 0 ? Model.PageSize : GlobalConfigs.DEFAULT_PAGESIZE } ,
                        }), new PagedListRenderOptions
                        {
                        LiElementClasses = new string[] { "page-item" },
                        PageClasses = new string[] { "page-link" },
                        DisplayLinkToFirstPage = PagedListDisplayMode.Always,
                        DisplayLinkToLastPage = PagedListDisplayMode.Always,
                        MaximumPageNumbersToDisplay = 5,
                        EllipsesElementClass = "page-link",
                        })
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
@section scripts{
    <script>
        $(function () {
            var successMessage = '@TempData["AlertMessage"]'
            if (successMessage != '')
                alertify.success(successMessage);
        });
    </script>
}
