@using S3Train.WebHeThong.Models
@model KeViewIndexModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdminPage.cshtml";
    int stt = 1;
}
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Kệ</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="@Url.Action("Index","Ke")">Ke</a></li>
        <li class="breadcrumb-item active" aria-current="page">Danh-Sach</li>
    </ol>
</div>
<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-md-6">
                @Html.Partial("~/Views/Shared/_PartialActionCreateAndTrash.cshtml", "Ke")
            </div>
            <div class="col-md-6">
                @Html.Partial("~/Views/Shared/_PartialSearch.cshtml")
                <i><span>Tìm kiếm: theo tên kệ</span></i>
            </div>
        </div>
        <table class="table table-responsive-lg">
            <thead>
                <tr>
                    <th>STT</th>
                    <th>Tên Kệ</th>
                    <th>Vị Trí Lưu Trữ</th>
                    <th>Ngày Tạo</th>
                    <th>Trạng Thái</th>
                    <th>Hoạt Động</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Items)
                {
                    <tr>
                        <td>@stt</td>
                        <td>@Html.DisplayFor(m => item.Ten)</td>
                        <td>@Html.DisplayFor(m => item.Tu.Ten)</td>
                        <td>@Html.DisplayFor(m => item.NgayTao)</td>
                        <td>@Html.Partial("~/Views/Shared/_PartialTrangThai.cshtml", item.TrangThai)</td>
                        <td>
                            @Html.Partial("~/Views/Shared/_PartialActionBasic.cshtml", item.Id)
                        </td>
                    </tr>
                    stt += 1;
                }
                <tr class="pageging">
                    <td colspan="8">
                        @Html.PagedListPager(Model.Paged, pageIndex => Url.Action("Index", new RouteValueDictionary {
                        { "pageIndex" , pageIndex },
                        { "pageSize", Model.PageSize > 0 ? Model.PageSize : GlobalConfigs.DEFAULT_PAGESIZE } ,
                        { "active",  ViewBag.Active} ,
                        { "searchString",  ViewBag.searchString} ,
                        }), new PagedListRenderOptions
                        {
                        LiElementClasses = new string[] { "page-item" },
                        PageClasses = new string[] { "page-link" },
                        DisplayLinkToFirstPage = PagedListDisplayMode.Always,
                        DisplayLinkToLastPage = PagedListDisplayMode.Always,
                        MaximumPageNumbersToDisplay = 5,
                        EllipsesElementClass = "page-link",
                        })
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
@section scripts{
    <script>
        $(function () {
            var successMessage = '@TempData["AlertMessage"]'
            if (successMessage != '')
                alertify.success(successMessage);
        });
    </script>
}