@using S3Train.Domain
@model IEnumerable<TaiLieuVanBan>

@{
    int stt = 1;
}
<div class="card">
    <div class="card-body" style="height:700px; overflow:auto;">
        <table class="table table-responsive-lg">
            <thead>
                <tr>
                    <th>STT</th>
                    <th>Số Ký Hiệu</th>
                    <th>Tên</th>
                    <th>Loại</th>
                    <th>Lưu Trữ</th>
                    <th>Tình Trạng</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@stt</td>
                        <td>@Html.DisplayFor(m => item.SoKyHieu)</td>
                        <td style="width:30%; text-align:justify">@Html.DisplayFor(m => item.Ten)</td>
                        <td>@Html.DisplayFor(m => item.Loai)</td>
                        <td>@Html.Partial("~/Views/Shared/_PartialTinhTrangLuuTru.cshtml", item.TinhTrang)</td>
                        <td>@Html.Partial("~/Views/Shared/_PartialTrangThai.cshtml", item.TrangThai)</td>
                    </tr>
                    stt += 1;
                }
            </tbody>
        </table>
    </div>
</div>
