@using S3Train.WebHeThong.Models
@model HopViewModel
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_LayoutAdminPage.cshtml";
    int stt = 1;
}
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Thông Tin Chi Tiết Hộp</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="@Url.Action("Index","Hop")">Hop</a></li>
        <li class="breadcrumb-item active" aria-current="page">Thong-Tin-Chi-Tiet</li>
    </ol>
</div>
<div class="row">
    <div class="col-lg-9">
        <div class="card mb-4">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-4">
                        <h6 class="m-0 font-weight-bold text-primary">Vị Trí Lưu Trữ</h6>
                        <p>@Html.DisplayFor(item => Model.KeId)</p>
                    </div>
                    <div class="col-lg-4">
                        <h6 class="m-0 font-weight-bold text-primary">@Html.DisplayNameFor(item => Model.SoHop)</h6>
                        <p>Hộp số @Html.DisplayFor(item => Model.SoHop)</p>
                    </div>
                    <div class="col-lg-4">
                        <h6 class="m-0 font-weight-bold text-primary">Phòng Ban</h6>
                        <p>@Html.DisplayFor(item => Model.PhongBan.Ten)</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <h6 class="m-0 font-weight-bold text-primary">Người Tạo</h6>
                        <p>@Html.DisplayFor(item => Model.User.FullName)</p>
                    </div>
                    <div class="col-lg-4">
                        <h6 class="m-0 font-weight-bold text-primary">@Html.DisplayNameFor(item => Model.NgayBatDau)</h6>
                        <p>@Html.DisplayFor(item => Model.NgayBatDau)</p>
                    </div>
                    <div class="col-lg-4">
                        <h6 class="m-0 font-weight-bold text-primary">@Html.DisplayNameFor(item => Model.NgayKetThuc)</h6>
                        <p>@Html.DisplayFor(item => Model.NgayKetThuc)</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <h6 class="m-0 font-weight-bold text-primary">@Html.DisplayNameFor(item => Model.NgayTao)</h6>
                        <p>@Html.DisplayFor(item => Model.NgayTao)</p>
                    </div>
                    <div class="col-lg-4">
                        <h6 class="m-0 font-weight-bold text-primary">@Html.DisplayNameFor(item => Model.NgayCapNhat)</h6>
                        <p>@Html.DisplayFor(item => Model.NgayCapNhat)</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="row">
            <div class="col">
                <div class="card h-100">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col">
                                <div class="text-xs font-weight-bold text-uppercase mb-1">Trạng Thái</div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">@Html.Partial("~/Views/Shared/_PartialTrangThai.cshtml", Model.TrangThai)</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-window-restore fa-2x text-primary"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col">
                <div class="card h-100">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col">
                                <div class="text-xs font-weight-bold text-uppercase mb-1">Tình Trạng Lưu Trữ</div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">@Html.Partial("~/Views/Shared/_PartialTinhTrangLuuTru.cshtml", Model.TinhTrang)</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-calendar fa-2x text-primary"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @{
        if (Model.HoSos.Count() > 0)
        {
            <div class="col-lg-12">
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="m-0 font-weight-bold text-primary">Danh Sách Hộp Của Kệ</h5>
                        <br />
                        <table class="table table-responsive-md">
                            <thead>
                                <tr>
                                    <th>STT</th>
                                    <th>Phông Lưu Trữ</th>
                                    <th>Thời Gian Bảo Quản</th>
                                    <th>Ngày Tạo</th>
                                    <th>Hoạt Động</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var hoso in Model.HoSos)
                                {
                                    <tr>
                                        <td>@stt</td>
                                        <td>@Html.DisplayFor(item => hoso.PhongLuuTru)</td>
                                        <td>@Html.DisplayFor(item => hoso.ThoiGianBaoQuan) tháng</td>
                                        <td>@hoso.NgayTao.ToString("dd MMM yyyy")</td>
                                        <td>
                                            <a href="@Url.Action("Detail","HoSo", new { id=hoso.Id})" class="btn btn-info" title="Thông Tin Chi Tiết">
                                                <i class="fas fa-info"></i>
                                            </a>
                                            <a href="@Url.Action("CreateOrUpdate","HoSo", new { id=hoso.Id})" class="btn btn-primary" title="Cập Nhật">
                                                <i class="fas fa-sync"></i>
                                            </a>
                                            <a href="@Url.Action("Delete","HoSo", new { id=hoso.Id})" class="btn btn-danger" onclick="return confirm('Bạn Có Chắc Muốn Xóa @hoso.PhongLuuTru?');" title="Xóa">
                                                <i class="fas fa-trash"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    stt += 1;
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        }
    }
</div>
