@using S3Train.WebHeThong.Models
@model HoSoViewModel

@{
    ViewBag.Title = "CreateOrUpdate";
    Layout = "~/Views/Shared/_LayoutAdminPage.cshtml";
    Model.GhiChu = Html.Raw(HttpUtility.HtmlDecode(Model.GhiChu)).ToString();
    Model.BienMucHoSo = Html.Raw(HttpUtility.HtmlDecode(Model.BienMucHoSo)).ToString();

    string title = string.IsNullOrEmpty(Model.Id) ? "Tạo Mới" : "Cập Nhật";
}

<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">@title Hộp</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="@Url.Action("Index","Hop")">Hop</a></li>
        <li class="breadcrumb-item active" aria-current="page">Tao-Moi-Hoac-Cap-Nhat</li>
    </ol>
</div>
<div class="card">
    <div class="card-body" id="myForm">
        @using (Html.BeginForm("CreateOrUpdate", "HoSo", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            <div class="form-group row">
                <div class="col-md">
                    <label>@Html.DisplayNameFor(item => Model.HopId)</label>
                    @Html.EditorFor(model => model.HopId, new { htmlAttributes = new { @class = "form-control", @placeholder = "Vị trí lưu trữ hồ sơ" } })
                    <i><span>Lưu ý: phải nhập đúng với kết quả được gợi ý</span></i>
                    @Html.ValidationMessageFor(model => model.HopId, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-6">
                    <label>@Html.DisplayNameFor(item => Model.LoaiHoSoId)</label>
                    @Html.DropDownListFor(m => m.LoaiHoSoId, new SelectList(ViewBag.LoaiHoSos, "Value", "Text"), new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.LoaiHoSoId, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-6">
                    <label>@Html.DisplayNameFor(item => Model.TapHoSoId)</label>
                    @Html.DropDownListFor(m => m.TapHoSoId, new SelectList(ViewBag.TapHoSos, "Value", "Text"), new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.TapHoSoId, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-6">
                    <label>@Html.DisplayNameFor(item => Model.PhongLuuTru)</label>
                    @Html.EditorFor(model => model.PhongLuuTru, new { htmlAttributes = new { @class = "form-control", @placeholder = "Phông lưu trữ" } })
                    @Html.ValidationMessageFor(model => model.PhongLuuTru, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-6">
                    <label>@Html.DisplayNameFor(item => Model.ThoiGianBaoQuan)</label>
                    @Html.EditorFor(model => model.ThoiGianBaoQuan, new { htmlAttributes = new { @class = "form-control", @placeholder = "" } })
                    @Html.ValidationMessageFor(model => model.ThoiGianBaoQuan, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-6">
                    <label>@Html.DisplayNameFor(item => Model.BienMucHoSo)</label>
                    @Html.TextAreaFor(model => model.BienMucHoSo, new { @class = "form-control", rows = "9" })
                    <script type="text/javascript">CKEDITOR.replace("BienMucHoSo", { htmlEncodeOutput: true });</script>
                </div>
                <div class="col-md-6">
                    <label>@Html.DisplayNameFor(item => Model.GhiChu)</label>
                    @Html.TextAreaFor(model => model.GhiChu, new { @class = "form-control", rows = "9" })
                    <script type="text/javascript">CKEDITOR.replace("GhiChu", { htmlEncodeOutput: true });</script>
                </div>
            </div>

            <div class="form-group">
                <input type="submit" value="Lưu" class="btn btn-success" />
            </div>
        }
    </div>
</div>

@section scripts{
    <script>
         $(function () {
            var successMessage = '@TempData["AlertMessage"]'
            if (successMessage != '')
                alertify.success(successMessage);
        });
        $(document).ready(function () {
            $("#HopId").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: "/HoSo/AutoCompleteText",
                        type: "POST",
                        dataType: "json",
                        data: { text: request.term },
                        success: function (data) {
                            response($.map(data, function (item) {
                                return { label: item.Text, value: item.Text };
                            }))

                        }
                    })
                }
            });
        });
    </script>
}
