@using S3Train.WebHeThong.Models
@model HoSoViewModel

@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_LayoutAdminPage.cshtml";
    int stt = 1;
    int stt2 = 1;
}

<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Thông Tin Chi Tiết Hồ Sơ</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="@Url.Action("Index","HoSo")">HoSo</a></li>
        <li class="breadcrumb-item active" aria-current="page">Detail</li>
    </ol>
</div>
<div class="row">
    <div class="col-lg-9">
        <div class="card mb-4">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-4">
                        <h6 class="m-0 font-weight-bold text-primary">@Html.DisplayNameFor(item => Model.PhongLuuTru)</h6>
                        <p>@Html.DisplayFor(item => Model.PhongLuuTru)</p>
                    </div>
                    <div class="col-lg-4">
                        <h6 class="m-0 font-weight-bold text-primary">@Html.DisplayNameFor(item => Model.LoaiHoSoId)</h6>
                        <p>@Html.DisplayFor(item => Model.LoaiHoSo.Ten)</p>
                    </div>
                    <div class="col-lg-4">
                        <h6 class="m-0 font-weight-bold text-primary">@Html.DisplayNameFor(item => Model.TapHoSoId)</h6>
                        <p>@Html.DisplayFor(item => Model.TapHoSo.PhongLuuTru)</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <h6 class="m-0 font-weight-bold text-primary">Người Tạo</h6>
                        <p>@Html.DisplayFor(item => Model.User.FullName)</p>
                    </div>
                    <div class="col-lg-4">
                        <h6 class="m-0 font-weight-bold text-primary">@Html.DisplayNameFor(item => Model.NgayTao)</h6>
                        <p>@Html.DisplayFor(item => Model.NgayTao)</p>
                    </div>
                    <div class="col-lg-4">
                        <h6 class="m-0 font-weight-bold text-primary">@Html.DisplayNameFor(item => Model.NgayCapNhat)</h6>
                        <p>@Html.DisplayFor(item => Model.NgayCapNhat)</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8">
                        <h6 class="m-0 font-weight-bold text-primary">Vị Trí Hộp</h6>
                        <p>@Model.HopId</p>
                    </div>
                    <div class="col-lg-4">
                        <h6 class="m-0 font-weight-bold text-primary">@Html.DisplayNameFor(item => Model.ThoiGianBaoQuan)</h6>
                        <p>@Html.DisplayFor(item => Model.ThoiGianBaoQuan) tháng</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <h6 class="m-0 font-weight-bold text-primary">@Html.DisplayNameFor(item => Model.BienMucHoSo)</h6>
                        <p>@Html.Raw(HttpUtility.HtmlDecode(Model.BienMucHoSo))</p>
                    </div>

                    <div class="col-md-8">
                        <h6 class="m-0 font-weight-bold text-primary">@Html.DisplayNameFor(item => Model.GhiChu)</h6>
                        <p>@Html.Raw(HttpUtility.HtmlDecode(Model.GhiChu))</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="row">
            <div class="col">
                <div class="card h-100">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col">
                                <div class="text-xs font-weight-bold text-uppercase mb-1">Trạng Thái</div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">@Html.Partial("~/Views/Shared/_PartialTrangThai.cshtml", Model.TrangThai)</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-window-restore fa-2x text-primary"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col">
                <div class="card h-100">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col">
                                <div class="text-xs font-weight-bold text-uppercase mb-1">Tình Trạng Lưu Trữ</div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">@Html.Partial("~/Views/Shared/_PartialTinhTrangLuuTru.cshtml", Model.TinhTrang)</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-calendar fa-2x text-primary"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @{
        if (Model.HoSoCons.Count() > 0)
        {
            <div class="col-lg-12">
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="m-0 font-weight-bold text-primary">Danh Hồ Sơ Con</h5>
                        <br />
                        <table class="table table-responsive-md">
                            <thead>
                                <tr>
                                    <th>STT</th>
                                    <th>Phông Lưu Trữ</th>
                                    <th>Ngày Tạo</th>
                                    <th>Lưu Trữ</th>
                                    <th>Trạng Thái</th>
                                    <th>Hoạt Động</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var hoso in Model.HoSoCons)
                                {
                                    <tr>
                                        <td>@stt2</td>
                                        <td>@Html.DisplayFor(item => hoso.PhongLuuTru)</td>
                                        <td>@Html.DisplayFor(item => hoso.NgayTao)</td>
                                        <td>@Html.Partial("~/Views/Shared/_PartialTinhTrangLuuTru.cshtml", hoso.TinhTrang)</td>
                                        <td>@Html.Partial("~/Views/Shared/_PartialTrangThai.cshtml", hoso.TrangThai)</td>
                                        <td>
                                            <a href="@Url.Action("Detail","HoSo", new { id=hoso.Id})" class="btn btn-info" title="Thông Tin Chi Tiết">
                                                <i class="fas fa-info"></i>
                                            </a>
                                            <a href="@Url.Action("CreateOrUpdate","HoSo", new { id=hoso.Id})" class="btn btn-primary" title="Cập Nhật">
                                                <i class="fas fa-sync"></i>
                                            </a>
                                            <a href="@Url.Action("Delete","HoSo", new { id=hoso.Id})" class="btn btn-danger" onclick="return confirm('Bạn Có Chắc Muốn Xóa @hoso.PhongLuuTru?');" title="Xóa">
                                                <i class="fas fa-trash"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    stt2 += 1;
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        }
    }

    @{
        if (Model.TaiLieuVanBans.Count() > 0)
        {
            <div class="col-lg-12">
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="m-0 font-weight-bold text-primary">Danh Sách Tài Liệu/Văn Bản</h5>
                        <br />
                        <table class="table table-responsive-md">
                            <thead>
                                <tr>
                                    <th>STT</th>
                                    <th>Tên</th>
                                    <th>Ngày Tạo</th>
                                    <th>Lưu Trữ</th>
                                    <th>Trạng Thái</th>
                                    <th>Hoạt Động</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var taiLieuVanBan in Model.TaiLieuVanBans)
                                {
                                    <tr>
                                        <td style="width:5%">@stt</td="width:25%">
                                        <td style="width:30%">@Html.DisplayFor(item => taiLieuVanBan.Ten)</td>
                                        <td>@taiLieuVanBan.NgayTao.ToString("dd MMM yyyy")</td>
                                        <td>@Html.Partial("~/Views/Shared/_PartialTinhTrangLuuTru.cshtml", taiLieuVanBan.TinhTrang)</td>
                                        <td>@Html.Partial("~/Views/Shared/_PartialTrangThai.cshtml", taiLieuVanBan.TrangThai)</td>
                                        <td>
                                            <a href="@Url.Action("Detail","TaiLieuVanBan", new { id=taiLieuVanBan.Id})" class="btn btn-info" title="Thông Tin Chi Tiết">
                                                <i class="fas fa-info"></i>
                                            </a>
                                            <a href="@Url.Action("CreateOrUpdate","TaiLieuVanBan", new { id=taiLieuVanBan.Id})" class="btn btn-primary" title="Cập Nhật">
                                                <i class="fas fa-sync"></i>
                                            </a>
                                            <a href="@Url.Action("Delete","TaiLieuVanBan", new { id=taiLieuVanBan.Id})" class="btn btn-danger" onclick="return confirm('Bạn Có Chắc Muốn Xóa @taiLieuVanBan.Ten?');" title="Xóa">
                                                <i class="fas fa-trash"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    stt += 1;
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        }
    }

</div>

