@using S3Train.WebHeThong.Models
@model NoiBanHanhIndexViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdminPage.cshtml";
    int stt = 1;
}
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Nơi Ban Hành</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="@Url.Action("Index","NoiBanHanh")">NoiBanHanh</a></li>
        <li class="breadcrumb-item active" aria-current="page">Index</li>
    </ol>
</div>
<div class="card">
    <div class="card-body">
        @Html.Partial("_PartialCreateOrUpdateNoiBanHanh", new NoiBanHanhViewModel())
        <table class="table table-responsive-lg table-hover">
            <thead>
                <tr>
                    <th>STT</th>
                    <th>Tên</th>
                    <th>Mô Tả</th>
                    <th>Hoạt Động</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Items)
                {
                    <tr>
                        <td>@stt</td>
                        <td>@Html.DisplayFor(m => item.Ten)</td>
                        <td>@Html.DisplayFor(m => item.MoTa)</td>
                        <td>
                            @Html.Partial("_PartialCreateOrUpdateNoiBanHanh", item)
                        </td>
                    </tr>
                    stt += 1;
                }
                <tr class="pageging">
                    <td colspan="8">
                        @Html.PagedListPager(Model.Paged, pageIndex => Url.Action("Index", new RouteValueDictionary {
                        { "pageIndex" , pageIndex },
                        { "pageSize", Model.PageSize > 0 ? Model.PageSize : GlobalConfigs.DEFAULT_PAGESIZE } ,
                        }), new PagedListRenderOptions
                        {
                        LiElementClasses = new string[] { "page-item" },
                        PageClasses = new string[] { "page-link" },
                        DisplayLinkToFirstPage = PagedListDisplayMode.Always,
                        DisplayLinkToLastPage = PagedListDisplayMode.Always,
                        MaximumPageNumbersToDisplay = 5,
                        EllipsesElementClass = "page-link",
                        })
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
@section scripts{
    <script>
        $(function () {
            var successMessage = '@TempData["AlertMessage"]'
            if (successMessage != '')
                alertify.success(successMessage);
        });
    </script>
}

